<h1>Payouts</h1>

<% @payouts.each do |payout|  %>
<h4>Order ID: <%= payout.order_id %></h4>
<ul>
  <li>Reference: <%= payout.reference %></li>
  <li>Account #: <%= payout.account %></li>
  <li>Tax: <%= payout.tax %></li>
  <li>Tax Percentage: <%= payout.tax_percentage %></li>
  <li>Payee: <%= payout.payee %></li>
  <li>Subtotal: <%= payout.subtotal %></li>
</ul>
<% end %>