<h1>Payouts</h1>

<% @payouts.each do |payout|  %>
<h4><%= payout.order_id %></h4>
<ul>
  <li><%= payout.reference %></li>
  <li><%= payout.account %></li>
  <li><%= payout.tax %></li>
  <li><%= payout.tax_percentage %></li>
  <li><%= payout.fastspring_fee %></li>
  <li><%= payout.payee %></li>
  <li><%= payout.subtotal %></li>
</ul>
<% end %>